@use 'vuetify' with (
  $utilities: false,
  $color-pack: false
);
@layer base, vuetify, overrides;

@layer overrides {
  /* Example: pulir algún detalle extra del skeleton */
  .v-skeleton-loader {
    /* NOTE: Preferir variables SASS. Este es un ajuste puntual si te hace falta. */
    /* background will venir ya desde $skeleton-loader-background */
    background: transparent !important;
  }
  .v-skeleton-loader__button {
    min-width: 100%;
  }

}
:root {
  --header-height: 90px; /* ajusta a tu header real */
  --radius-2xl: 16px;
}
main {
  max-height: 100vh;
  overflow: hidden;
}
a {
  text-decoration: underline;
  color: initial;
}
/* Base styles (mobile first) */
.main {
  grid-area: main;
  box-sizing: border-box;
  padding: 16px 16px 0 71px; // mobile default
  position: relative;
  min-height: 0;
  max-height: 100vh;
  overflow-y: scroll;
}

.futzo-page-container {
  display: grid;
  grid-template-areas:
    "header header"
    "main main"
    "footer footer";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0 1.8fr;
  height: 100%;
}

.header {
  grid-area: header;
  box-sizing: border-box;
}
.futzo-page-container > .footer{
  grid-area: footer;
  min-height: 0;
}
/* Vuetify overrides */
.v-list-item__prepend > .v-badge .v-icon,
.v-list-item__prepend > .v-icon,
.v-list-item__append > .v-badge .v-icon,
.v-list-item__append > .v-icon {
  opacity: 1 !important;
}

.v-list-group__items {
  --indent-padding: 1rem;

  > .v-list-item.v-list-item--link.v-list-item--nav {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

    &.v-list-item--active {
      background: #9155fd !important;
      color: #fff !important;

      > .v-list-item__overlay {
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
      }
    }
  }
}

.v-list--nav {
  > .v-list-item {
    &:hover,
    &.v-list-item--active {
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
    }

    &.v-list-item--active {
      background: #9155fd !important;
      color: #fff !important;
    }
  }
}

/* Active icon color */
a.v-list-item--active svg #Icon path {
  stroke: white !important;
}

/* Nuxt icons */
.nuxt-icon.drawer-icon svg {
  width: 24px;
  height: 24px;
}

/* Reusable utilities */
.futzo-rounded {
  border: 1px solid #eaecf0 !important;
  border-radius: 12px !important;
  background: #fff;

  &.v-table {
    height: 100%;
  }
}

.futzo-table {
  > .v-table__wrapper table {
    th,
    td {
      height: 20px !important;
      padding: 12px 24px !important;
    }
  }
}

/* Cards, sheets */
.v-sheet.custom-v-sheet {
  border: 1px solid #eaecf0;
  border-radius: 12px;
  background: #fff;
  box-shadow: 12px 16px -4px rgba(16, 24, 40, 0.08),
  0 4px 6px -2px rgba(16, 24, 40, 0.03);
}

/* Pagination */
.futzo-pagination {
  position: relative;

  .v-pagination__prev {
    position: absolute;
    left: 2rem;
  }

  .v-pagination__next {
    position: absolute;
    right: 2rem;
  }
}

/* Tables */
.table-wrapper {
  flex: 1 1 auto;
  min-height: 0;
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
}

.table {
  grid-area: table;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 12px;
  border-width: 1px;
  padding: 0 .5rem;
  min-height: 0;
  overflow: hidden;
}
.v-data-table__td-value{
  text-align: start !important;
}
thead {
  background: #f9fafb;
}

tbody > tr.v-data-table__tr:nth-child(even) {
  background: #f9fafb;
}

/* Buttons */
.app-bar-secondary-btn,
.table-action-btn {
  border: 1px solid #d0d5dd !important;
  border-radius: 8px !important;
  background: #fff !important;
  font-weight: 600;
  line-height: 24px;
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05) !important;
}

.app-bar-secondary-btn {
  font-size: 16px;
  color: #344054 !important;
  max-height: 40px;

  &__input_text {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #344054;
  }
}

.table-action-btn {
  margin: 4px 0;
}

/* Infinite scroll */
.v-infinite-scroll__side {
  padding: 0 !important;
}
.text-breadcrumbs{
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: #182230;
}
.text-breadcrumb{
  font-weight: 600;
  line-height: 44px;
  font-size: 24px;
  padding: 0;
  color: #000000;
}
.text-breadcrumbs.active {
  color: #9155FD;
  font-weight: 700;
}
.v-breadcrumbs.v-breadcrumbs--density-default{
  padding:0;
}
.mobile-fab.opened {
  transform: rotate(45deg);
  transition: transform .3s ease-in-out;
}

/* Desktop overrides */
@media (width >= 600px) {
  .main {
    padding: 40px 40px 0 40px;
    position: relative;
    max-height: 100vh;
    overflow-y: scroll;
  }
  .text-breadcrumb {
    font-size: 36px;
  }
}
