@use 'vuetify' with (
  $utilities: false,
  $color-pack: false
);
@layer base, vuetify, overrides;

@layer overrides {
  /* Example: pulir algún detalle extra del skeleton */
  .v-skeleton-loader {
    /* NOTE: Preferir variables SASS. Este es un ajuste puntual si te hace falta. */
    /* background will venir ya desde $skeleton-loader-background */
    background: transparent !important;
  }
  .v-skeleton-loader__button {
    min-width: 100%;
  }

}
:root {
  --header-height: 90px; /* ajusta a tu header real */
}

.main {
  grid-area: main;
  box-sizing: border-box;
  padding: 40px;
  min-height: 0; /* importante para permitir encoger */
}
.futzo-page-container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0 1.8fr;
  grid-auto-columns: 1fr;
  gap: 0 0;
  grid-auto-flow: row;
  grid-template-areas:
      'header header'
      'main main';
}

.header {
  grid-area: header;
  box-sizing: border-box;
}

.v-list-item__prepend > .v-badge .v-icon, .v-list-item__prepend > .v-icon, .v-list-item__append > .v-badge .v-icon, .v-list-item__append > .v-icon {
  opacity: 1 !important;
}

.v-list-group__items {
  --indent-padding: 1rem;
}

.v-list-group__items > .v-list-item.v-list-item--active.v-list-item--link.v-list-item--nav {
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  background: #9155FD !important;
}

.v-list-group__items > .v-list-item.v-list-item--link.v-list-item--nav {
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
}

.v-list-group__items > .v-list-item.v-list-item--active.v-list-item--link.v-list-item--nav > .v-list-item__overlay {
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
}

.v-list--nav > .v-list-item--active {
  background: #9155FD !important;
  color: #fff !important;
}

.v-list--nav > .v-list-item:hover, .v-list--nav > .v-list-item--active {
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
}

.v-list-group__items > .v-list-item .v-list-item--active {
  background: #9155FD !important;
  color: #fff !important;
}

.nuxt-icon.drawer-icon svg {
  width: 24px;
  height: 24px;
}

.futzo-rounded {
  border-radius: 12px !important;
  border: 1px solid #eaecf0 !important;
  background: #fff;
}

.futzo-table > .v-table__wrapper > table > thead > tr > th, .futzo-table > .v-table__wrapper > table > tbody > tr > td {
  height: 20px !important;
  padding: 12px 24px !important;
}

a.v-list-item--active > div.v-list-item__prepend > span > svg #Icon > path:nth-child(1),
a.v-list-item--active > div.v-list-item__prepend > span > svg #Icon > path:nth-child(2) {
  stroke: white !important;
}

.v-sheet.custom-v-sheet {
  border-radius: 12px;
  border: 1px solid #eaecf0;
  background: #fff;
  box-shadow: 12px 16px -4px rgba(16, 24, 40, 0.08), 0 4px 6px -2px rgba(16, 24, 40, 0.03);
}

.futzo-rounded.v-table {
  height: 100%;
}

.futzo-pagination {
  position: relative;
}

.futzo-pagination > .v-pagination__list > .v-pagination__prev {
  position: absolute;
  left: 2rem;
}

.futzo-pagination > .v-pagination__list > .v-pagination__next {
  position: absolute;
  right: 2rem;
}

thead {
  background: #f9fafb;
}

tbody > tr.v-data-table__tr:nth-child(even) {
  background: #f9fafb;
}

.app-bar-secondary-btn {
  border-radius: 8px;
  border: 1px solid #d0d5dd !important;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 5%);
  color: #344054 !important;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  max-height: 40px;
}

.app-bar-secondary-btn__input_text {
  color: #344054;
  line-height: 20px;
  font-weight: 600;
  font-size: 14px;
}
.table-action-btn {
  margin: 4px 0;
  border-radius: 8px !important;
  border: 1px solid #d0d5dd !important;
  background: #fff !important;
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05) !important;
}
.v-infinite-scroll__side{
  padding: 0 !important;
}
.table-wrapper {
  flex: 1 1 auto;
  min-height: 0;
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
}
.table {
  grid-area: table;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 0 1rem;
  border-radius: 12px;
  border-width: 1px;
  min-height: 0;
  overflow: hidden;
}
@media (width <= 600px) {
  .main {
    padding: 16px 16px 0 55px ;
    position: relative;
  }
}