node_modules
*.log*
.nuxt
.nitro
.cache
.output
.env
dist
.DS_Store
.idea/*
.idea/sonarlint/issuestore/index.pb
.idea/sonarlint/securityhotspotstore/index.pb
.gitignore
yarn-error.log
.idea/dbnavigator.xml
.env.prod

