.v-list-item__prepend > .v-badge .v-icon, .v-list-item__prepend > .v-icon, .v-list-item__append > .v-badge .v-icon, .v-list-item__append > .v-icon {
  opacity: 1 !important;
}
.v-list-group__items{
  --indent-padding: 1rem;
}
.v-list-group__items > .v-list-item.v-list-item--active.v-list-item--link.v-list-item--nav{
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  background: #9155FD !important;
}
.v-list-group__items > .v-list-item.v-list-item--link.v-list-item--nav{
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
}
.v-list-group__items > .v-list-item.v-list-item--active.v-list-item--link.v-list-item--nav> .v-list-item__overlay{
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
}
.v-list--nav > .v-list-item--active {
  background: #9155FD !important;
  color : #fff !important;
}
.v-list--nav > .v-list-item:hover, .v-list--nav > .v-list-item--active {
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
}
.v-list-group__items > .v-list-item .v-list-item--active {
  background: #9155FD !important;
  color : #fff !important;
}
.nuxt-icon.drawer-icon svg{
  width: 24px;
  height: 24px;
}
.futzo-rounded {
  border-radius: 12px !important;
  border: 1px solid #eaecf0;
  background: #fff;
}