
.auth-logo {
  position: absolute;
  z-index: 1;
  inset-block-start: 2rem;
  inset-inline-start: 2.3rem;
}

.auth-bg {
  background-color: rgb(var(--v-theme-surface));
}


.scale-up-vertical-top-enter-active {
  animation: scale-up-vertical-bottom 0.2s linear forwards;
}
@keyframes scale-up-vertical-bottom {
  0% {
    transform: scaleY(0.4);
    transform-origin: center bottom;
  }
  100% {
    transform: scaleY(1);
    transform-origin: center bottom;
  }
}

.scale-down-vertical-center-leave-active {
  animation: scale-down-vertical-center 0.2s linear forwards;
}
@keyframes scale-down-vertical-center {
  0% {
    transform: scaleY(1);
    transform-origin: center;
  }
  100% {
    transform: scaleY(0.3);
    transform-origin: center;
  }
}