/* Base styles (mobile first) */
.teams-team-container
  display: grid
  grid-template-columns: 1fr
  grid-template-rows: 1fr 1fr 1fr 1fr
  grid-template-areas: "primary-zone" "secondary-zone" "right-up-zone" "right-down-zone"
  gap: 1em 0
  max-width: 400px
  max-height: 100vh

.primary-zone,
.secondary-zone,
.right-up-zone,
.right-down-zone
  width: 100%
  height: 100%
  min-height: fit-content
  max-height: 380px
  max-width: 320px
  padding: 0
  margin: 0 auto

.primary-zone
  grid-area: primary-zone
  border-radius: var(--radius-2xl, 16px)
  background: var(--Colors-Base-White, #fff)
  align-self: stretch
  overflow: scroll
  padding: 1rem 2rem

.secondary-zone
  grid-area: secondary-zone
  display: flex
  flex-direction: column
  align-items: flex-start
  gap: var(--spacing-md, 8px)
  align-self: stretch
  width: 100%

.right-up-zone
  grid-area: right-up-zone
  margin-left: 1rem
  max-height: 100%

.right-down-zone
  grid-area: right-down-zone
  display: flex
  margin-left: 1rem
  justify-content: space-between
  align-items: center
  align-self: stretch

.game-container
  flex-direction: column
  max-width: 300px
  padding: 0 0.5rem 0.5rem 0 !important

.teams
  gap: 0 !important

.lineup-formation-select > .v-input__control > .v-field > .v-field__field > .v-field__input
  padding-top: 0 !important
  padding-inline: 0 !important
  row-gap: 0 !important
  justify-content: flex-end !important

/* Desktop overrides (≥768px) */
@media (min-width: 768px)
  .teams-team-container
    grid-template-columns: repeat(6, 16.66%)
    grid-template-rows: repeat(6, 16.66%)
    grid-template-areas: "primary-zone primary-zone primary-zone primary-zone right-up-zone right-up-zone" "primary-zone primary-zone primary-zone primary-zone right-up-zone right-up-zone" "primary-zone primary-zone primary-zone primary-zone right-up-zone right-up-zone" "primary-zone primary-zone primary-zone primary-zone right-up-zone right-up-zone" "secondary-zone secondary-zone secondary-zone secondary-zone right-down-zone right-down-zone"  "secondary-zone secondary-zone secondary-zone secondary-zone right-down-zone right-down-zone"
    max-width: 100%
    max-height: 100vh

  .primary-zone,
  .secondary-zone,
  .right-down-zone,
  .right-up-zone
    max-width: 100%
    max-height: none
    padding: 0
    margin: 0
